**/node_modules
**/.vscode
**/.gradle/
**/.settings/
**/bin
**/build
**/temp/
**/Debug
**/Release

*.classpath
*.class
*.log
*.project
*.DS_Store
package-lock.json
!build.gradle

worldVision01/src/main/java/java100/app/web/index/NewFile.html
